[submodule "external/Terminal"]
	path = external/Terminal
	url = https://github.com/e-nikulov/terminal.git
	branch = sftp-explorer-history-30000
	shallow = true
	sparse-checkout = src/cascadia/WpfTerminalControl
	fetchRecurseSubmodules = false
